.site__header {
    display : flex;
    flex-direction: column;
    align-items: center;
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;
    @media screen and (min-width : $largeur__media--tablette){
      flex-direction: row;
    }

    &__titre {
      display : flex;
      justify-content: flex-start;
      align-items : center;
    }
    .custom-logo-link, .header__titre, .header__description{
      padding : 10px;
    }
    .custom-logo-link {}
    .header__titre {
      font-size: clamp(3rem, 4vw, 8rem);
      font-family: $font__titre;
    }
    .header__description {
      font-size: clamp(2rem, 2vw, 3rem);
      font-family: $font__main;
    }
  }

  .util {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width : 90%;
    justify-content: center;
    @media screen and (min-width : $largeur__media--tablette){
    margin-left : auto;
    width : 350px;
    }
    &__lien{
      display: flex;
    }

  }